
body {
    font-family: Arial;
}

#logoContainer {
    background-color: #6495ED;
    height: 100px;
}

#mainHeadline {
    position: relative;
    padding-top: 20px;
    color: #800000;
    text-align: center;
    font-size: 35px;
}

.LoginRegister {
    position: relative;
    text-align: center;
}

#submitAddress{
    position: relative;
}

.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}

.geosuggest__item--active {
    background: #267dc0;
    color: #fff;
}

.geosuggest {
    position: relative;
    width: 50%;
    margin: 1em auto;
}

.geosuggest__item {
    font-size: 16px;
    padding: .5em .65em;
    cursor: pointer;
}

.geosuggest__input {
    font-size: 16px;
    width: 94%;
    border: 2px solid transparent;
    box-shadow: 0 0 1px #3d464d;
    padding: .5em 1em;
    transition: border 0.2s, box-shadow 0.2s;
}

.geosuggest__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    background: #fff;
    border: 2px solid #267dc0;
    list-style: none;
    z-index: 5;
    transition: max-height 0.2s, border 0.2s;
}

#noAddressResults {
    color: red;
    display: none;
}

.inputField {
    margin-bottom: 20px;
}

.RegisterUser {
    text-align: center;
}

.buildingExist {
    text-align: center;
}

#createdAddress{
    color: red;
}

.button {
    position: relative;
    text-align: center;
    background-color: 	#FF6347;
    border: none;
    color: white;
    padding: 15px 32px;
    height:40px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding-bottom: 30px:
    cursor: pointer;
}

.userError {
    color: red;
}

.chatNav {
    float: left;
    height:85vh;
    width: 17%;
    background-color: #A9A9A9;
    margin-right: 1%;

}

.textArea {
    height: 6vh;
    width: 120vh;
    font-size: 18px;
}


.conversationsArea {
    position: relative;
    height:70vh;
    background-color: #DCDCDC;
    overflow-y: scroll;
    display:flex;

}

.connectArea {
    display: inline;
}

.chatContainer {
    position: relative;
    display: inline-block;
}


.message_button {
    float: right;
}

.active {
    color: green;
    font-weight: bold;
}
